http:
  middlewares:
    basic-auth:
      basicAuth:
        # users:
        #   - "user:$apsdfs.$EntPC0w3FtswWvC/6fTVJ7IUVtX1"
        usersFile: "/run/secrets/htpasswd" #be sure to mount the volume through docker-compose.yml
        realm: "Traefik 2 Basic Auth"

    rate-limit:
      rateLimit:
        average: 100
        burst: 50

    secure-headers:
      headers:
        #### CORS Headers
        accessControlAllowMethods:
          - GET
          - OPTIONS
          - PUT
        accessControlMaxAge: 100
        addVaryHeader: true

        #### HSTS Headers
        customFrameOptionsValue: "same-origin"
        # frameDeny: true # overwritten by customFrameOptionsValue
        # sslRedirect: true #replaced with middlewares-https-redirectscheme for v2.5.x
        # sslForceHost: true # add sslHost to all of the services

        #### Policies - CSP can break things
        #contentSecurityPolicy: "default-src 'none';object-src 'none';script-src 'none';"
        permissionsPolicy: "camera=(), microphone=(), geolocation=(), payment=(), usb=(), vr=()"
        customResponseHeaders:
          X-Robots-Tag: "none,noarchive,nosnippet,notranslate,noimageindex,"
          server: ""
          X-Frame-Options: "SAMEORIGIN"

        contentTypeNosniff: true
        browserXssFilter: true
        referrerPolicy: "same-origin"

        #### Proxy 
        hostsProxyHeaders:
          - "X-Forwarded-Host"

        #### STS Preload
        stsPreload: true
        forceSTSHeader: true
        stsSeconds: 63072000
        stsIncludeSubdomains: true

    # web dav issue fix for nextcloud
    nextcloud-redirectregex:
      redirectRegex:
        permanent: true
        regex: "https://(.*)/.well-known/(card|cal)dav"
        replacement: "https://${1}/remote.php/dav/"
